{%- liquid
  assign product = section.settings.product
  if product == null
    assign placeholder = true
  endif
-%}

<product-info
  data-section="{{ section.id }}"
  data-product-id="{{ product.id }}"
  data-update-url="false"
  data-url="{{ product.url }}"
  {% if section.settings.image_zoom == 'hover' %}
    data-zoom-on-hover
  {% endif %}
>
  {{ 'section-featured-product.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}
  {{ 'component-rating.css' | asset_url | stylesheet_tag }}
  {{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}
  {% unless section.settings.product.has_only_default_variant %}
    {{ 'component-product-variant-picker.css' | asset_url | stylesheet_tag }}
    {{ 'component-swatch.css' | asset_url | stylesheet_tag }}
    {{ 'component-swatch-input.css' | asset_url | stylesheet_tag }}
  {% endunless %}

  <style>
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
  </style>

  <script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'show-more.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>

  {%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}
  {%- if first_3d_model -%}
    {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
    <link
      id="ModelViewerStyle"
      rel="stylesheet"
      href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
      media="print"
      onload="this.media='all'"
    >
    <link
      id="ModelViewerOverride"
      rel="stylesheet"
      href="{{ 'component-model-viewer-ui.css' | asset_url }}"
      media="print"
      onload="this.media='all'"
    >
  {%- endif -%}

  {% assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' %}

  <section class="featured-product color-{{ section.settings.color_scheme }}">
    <div class="page-width section-{{ section.id }}-padding">
      <div class="featured-product-container {% if section.settings.media_position == 'right' %}media-right{% endif %}">
        
        <div class="featured-product-media">
          {%- unless placeholder -%}
            {% render 'product-media-gallery', product: product, variant_images: variant_images, limit: 1 %}
            <div class="featured-product product-badges">
              {% if product.available == false %}
                <span class="featured-product product-badge featured-product product-badge--soldout">Sold Out</span>
              {% elsif product.compare_at_price > product.price %}
                {% assign discount = product.compare_at_price | minus: product.price | times: 100 | divided_by: product.compare_at_price | round %}
                <span class="featured-product product-badge">{{ discount }}% Off</span>
              {% endif %}
              {% if product.metafields.custom.is_new == true %}
                <span class="featured-product product-badge featured-product product-badge--new">New</span>
              {% endif %}
              {% if product.metafields.custom.is_limited == true %}
                <span class="featured-product product-badge featured-product product-badge--limited">Limited</span>
              {% endif %}
            </div>
          {%- else -%}
            <div class="featured-product product__media-item">
              {{ 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {%- endunless -%}
        </div>

        <div class="featured-product-info">
          <div class="featured-product" data-section="{{ section.id }}" data-url="{{ product.url }}">
            {%- assign product_form_id = 'product-form-' | append: section.id -%}

            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when '@app' -%}
                  {% render block %}
                
                {%- when 'text' -%}
                  <p class="featured-product product__text" {{ block.shopify_attributes }}>
                    {{- block.settings.text -}}
                  </p>
                
                {%- when 'title' -%}
                  <h2 class="featured-product product__heading" {{ block.shopify_attributes }}>
                    {%- unless placeholder -%}
                      {{ product.title | escape }}
                    {%- else -%}
                      {{ 'onboarding.product_title' | t }}
                    {%- endunless -%}
                  </h2>
                
                {%- when 'price' -%}
                  <div class="featured-product price" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
                    {%- render 'price',
                      product: product,
                      placeholder: placeholder,
                      use_variant: true,
                      show_badges: true,
                      price_class: 'price--large'
                    -%}
                  </div>
                  {%- if product.quantity_price_breaks_configured? -%}
                    <div class="volume-pricing-note" id="Volume-Note-{{ section.id }}">
                      <span>{{ 'products.product.volume_pricing.note' | t }}</span>
                    </div>
                  {%- endif -%}
                  {%- if cart.taxes_included or cart.duties_included or shop.shipping_policy.body != blank -%}
                    <div class="product__tax caption rte">
                      {%- if cart.duties_included and cart.taxes_included -%}
                        {{ 'products.product.duties_and_taxes_included' | t }}
                      {%- elsif cart.taxes_included -%}
                        {{ 'products.product.taxes_included' | t }}
                      {%- elsif cart.duties_included -%}
                        {{ 'products.product.duties_included' | t }}
                      {%- endif -%}
                      {%- if shop.shipping_policy.body != blank -%}
                        {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                  {%- unless placeholder -%}
                    <div {{ block.shopify_attributes }}>
                      {%- form 'product', product -%}
                        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                        {{ form | payment_terms }}
                      {%- endform -%}
                    </div>
                  {%- endunless -%}
                
                {%- when 'variant_picker' -%}
                  <div class="featured-product product-form__input">
                    {% render 'product-variant-picker',
                      product: product,
                      block: block,
                      product_form_id: product_form_id
                    %}
                  </div>
                
                {%- when 'quantity_selector' -%}
                  <div class="product-form__input product-form__quantity" {{ block.shopify_attributes }}>
                    {% comment %} TODO: enable theme-check once `item_count_for_variant` is accepted as valid filter {% endcomment %}
                    {% # theme-check-disable %}
                    {%- assign cart_qty = cart
                      | item_count_for_variant: product.selected_or_first_available_variant.id
                    -%}
                    {% # theme-check-enable %}
                    <label class="form__label" for="Quantity-{{ section.id }}">
                      {{ 'products.product.quantity.label' | t }}
                    </label>
                    <quantity-input class="quantity">
                      <button class="quantity__button" name="minus" type="button">
                        <span class="visually-hidden">
                          {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                        </span>
                        <div class="svg-wrapper">
                          {{ 'icon-minus.svg' | asset_url | img_tag: '', class: 'icon' }}
                        </div>
                      </button>
                      <input
                        class="quantity__input"
                        type="number"
                        name="quantity"
                        id="Quantity-{{ section.id }}"
                        data-cart-quantity="{{ cart_qty }}"
                        data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                        min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                        {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
                          data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                          max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                        {% endif %}
                        step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
                        value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                        form="{{ product_form_id }}"
                      >
                      <button class="quantity__button" name="plus" type="button">
                        <span class="visually-hidden">
                          {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                        </span>
                        <div class="svg-wrapper">
                          {{ 'icon-plus.svg' | asset_url | img_tag: '', class: 'icon' }}
                        </div>
                      </button>
                    </quantity-input>
                  </div>
                
                {%- when 'buy_buttons' -%}
                  <div class="featured-product product-form__buttons">
                    {%- render 'buy-buttons',
                      block: block,
                      product: product,
                      product_form_id: product_form_id,
                      section_id: section.id
                    -%}
                  </div>
                
                {%- when 'custom_liquid' -%}
                  {{ block.settings.custom_liquid }}
                
                {%- when 'rating' -%}
                  {%- if product.metafields.reviews.rating.value != blank -%}
                    {% render 'product-rating', product: product %}
                  {%- endif -%}
                
                {%- when 'share' -%}
                  {% liquid
                    assign share_url = product.selected_variant.url | default: product.url | prepend: request.origin
                    render 'share-button', block: block, share_link: share_url
                  %}
              {%- endcase -%}
            {%- endfor -%}

            <a
              {% if product == blank %}
                role="link" aria-disabled="true"
              {% else %}
                href="{{ product.url }}"
              {% endif %}
              class="featured-product product__view-details"
            >
              {{ 'products.product.view_full_details' | t }}
              <svg viewBox="0 0 24 24" class="featured-product icon-arrow">
                <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  {%- if section.settings.image_zoom == 'hover' -%}
    <script id="EnableZoomOnHover-featured" src="{{ 'magnify.js' | asset_url }}" defer="defer"></script>
  {%- endif %}
  {%- if request.design_mode -%}
    <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {%- if first_3d_model -%}
    <script type="application/json" id="ProductJSON-{{ product.id }}">
      {{ product.media | where: 'media_type', 'model' | json }}
    </script>
    <script src="{{ 'product-model.js' | asset_url }}" defer></script>
  {%- endif -%}

  {%- liquid
    if product.selected_or_first_available_variant.featured_media
      assign seo_media = product.selected_or_first_available_variant.featured_media
    else
      assign seo_media = product.featured_media
    endif
  -%}

  <script type="application/ld+json">
    {{ product | structured_data }}
  </script>

  {% if product.media.size > 0 %}
    <script src="{{ 'product-modal.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'media-gallery.js' | asset_url }}" defer="defer"></script>
  {% endif %}
</product-info>

{% schema %}
{
  "name": "t:sections.featured-product.name",
  "tag": "section",
  "class": "section section-featured-product",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.featured-product.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "t:sections.featured-product.blocks.text.settings.text.default",
          "label": "t:sections.featured-product.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.featured-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.featured-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.featured-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.featured-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.featured-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.featured-product.blocks.variant_picker.settings.picker_type.label"
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.featured-product.blocks.quantity_selector.name",
      "limit": 1
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.featured-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.featured-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.featured-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        }
      ]
    },
    {
      "type": "share",
      "name": "t:sections.featured-product.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.featured-product.blocks.share.settings.text.label",
          "default": "t:sections.featured-product.blocks.share.settings.text.default"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.custom-liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.custom-liquid.settings.custom_liquid.label"
        }
      ]
    },
    {
      "type": "rating",
      "name": "t:sections.featured-product.blocks.rating.name",
      "limit": 1
    }
  ],
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "t:sections.featured-product.settings.product.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "media_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.featured-product.settings.media_position.options__1.label"
        },
        {
          "value": "right",
          "label": "t:sections.featured-product.settings.media_position.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.featured-product.settings.media_position.label"
    },
    {
      "type": "select",
      "id": "image_zoom",
      "options": [
        {
          "value": "lightbox",
          "label": "t:sections.main-product.settings.image_zoom.options__1.label"
        },
        {
          "value": "hover",
          "label": "t:sections.main-product.settings.image_zoom.options__2.label"
        },
        {
          "value": "none",
          "label": "t:sections.main-product.settings.image_zoom.options__3.label"
        }
      ],
      "default": "lightbox",
      "label": "t:sections.main-product.settings.image_zoom.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-product.presets.name",
      "blocks": [
        {
          "type": "text",
          "settings": {
            "text": "{{ section.settings.product.vendor }}"
          }
        },
        {
          "type": "title"
        },
        {
          "type": "price"
        },
        {
          "type": "variant_picker"
        },
        {
          "type": "quantity_selector"
        },
        {
          "type": "buy_buttons"
        },
        {
          "type": "share"
        }
      ]
    }
  ]
}
{% endschema %}